@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url(../site/fonte/idroid.otf);
}

body, h1{
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(221, 202, 180);
    ;
}

header {
    background-color: 088f08;
    background-image: linear-gradient(to bottom, rgb(8, 143, 8), rgb(2, 44, 2));
}

header > p {
    color: white;
    text-align: center;
}

header > h1 {
    color: white;
    text-align: center;
    padding: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
}

nav {
    padding-bottom: 15px;
    padding-top: 10px;
}
nav > a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav > a:hover {
    background-color: rgb(3, 231, 3);
    color: black;
    transition-duration: 0.5s;
    border-radius: 5px;
} 

h2 {
    font-family: 'android';
    font-size: 25px;
    color: rgb(0, 90, 0);
}

main > p {
    text-indent: 40px;
}

main {

    min-width: 300px;
    max-width: 1000px;
    padding: 50px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.384);
}


main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

.cor-palavras {
    color: rgb(0, 90, 0);
}

.estilo-link {
    text-decoration: none;
    background-color: rgba(13, 155, 13, 0.514);
    color: rgb(3, 78, 3);
    font-weight: 700;
}

.imagem {
    display: flex;
    justify-content: center;
}

.video {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 90, 0);
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top:5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.background {
    background-color: rgb(0, 90, 0);
}

.background-div {
    background-color: rgba(13, 155, 13, 0.514) ;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.548);
}

.div-text {
    padding: 0% 10px 5px 10px;
}

.estilo-p {
    color: white;
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 20px;
}

div > p {
    text-indent: 40px;
}

h3 {
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

ul {
    display: inline-block;
}

.checklist {
    list-style:none;
    padding: 0;
    margin: 0;
    columns: 2;
}

li::before {
    content: "🗸";
}
